* {
    background-color: #f7e8e3;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #04323a;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #d1dcde;
    cursor: pointer;
    color: #04323a;
}

header {
    height: 100px;
    width: 70%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

nav {
    width: 42px;
}

.h-menu {
    width: 42px;
    cursor: pointer;
}

.hamburger {
    height: 4px;
    width: 35px;
    border-radius: 2px;
    background-color: #04323a;
    margin-bottom: 5px;
    opacity: 70%;
    border-color: none;
}

.display-menu {
    display: none;
}

.display-menu-open {
    display: flex;
    flex-direction: column;
}

.ham1-close {
    transform: rotate(45deg) translatex(11px) translatey(5px);
}

.ham2-close {
    display: none;
}

.ham3-close {
    transform: rotate(-45deg) translatex(2px) translatey(5px);
}


main {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-evenly;
}

.books {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    box-sizing: content-box;
    min-height: 200px;
    max-height: 300px;
    color: #0b8eab;
}

.cover {
    width: 120px;
    height: auto;
}

footer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;
    bottom: 0;
}


.book-item {
    display: flex;
    flex-direction: row;
}